<Configuration status="INFO">
    <Appenders>
        <Console name="Console-info" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss} [%level] %msg%n}{INFO=white}"/>
        </Console>
        <Console name="Console-debug" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%n}{INFO=white}"/>
        </Console>
        <routing name="Routing">
            <routes pattern="*">
                <route>
                    <RollingFile name="RollingFile" fileName="${sys:OTBCONF}/app.log"
                                 filePattern="${sys:OTBCONF}/app-%d{yyyy-MM-dd}-%i.log">
                        <PatternLayout>
                            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%n</Pattern>
                            <!-- <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> -->
                        </PatternLayout>
                        <Policies>
                            <OnStartupTriggeringPolicy/>
                        </Policies>
                    </RollingFile>
                </route>
            </routes>
        </routing>
        <routing name="Routing-console-info">
            <routes pattern="*">
                <route>
                    <File name="RollingFile" fileName="${sys:OTBCONF}/console.log">
                        <PatternLayout>
                            <Pattern>%d{HH:mm:ss} [%level] %msg%n</Pattern>
                            <!-- <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> -->
                        </PatternLayout>
                    </File>
                </route>
            </routes>
        </routing>
        <routing name="Routing-console-debug">
            <routes pattern="*">
                <route>
                    <File name="RollingFile" fileName="${sys:OTBCONF}/console.log">
                        <PatternLayout>
                            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%n</Pattern>
                            <!-- <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> -->
                        </PatternLayout>
                    </File>
                </route>
            </routes>
        </routing>

    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console-info" level="info"/>
            <AppenderRef ref="Console-debug" level="debug"/>
            <AppenderRef ref="Routing" level="debug"/>
            <AppenderRef ref="Routing-console-info" level="info"/>
            <AppenderRef ref="Routing-console-debug" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
