
.text-area:focused {
    -fx-padding: 0;
    -fx-cursor: default;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    derive(-fx-base,-1%);
}
.text-area:focused > .scroll-pane {
    -fx-background-color: null;
}
.text-area:focused > .scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 3 3;
}
.text-area:focused > .scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 3 3 0;
}
.text-area:focused > .scroll-pane > .corner {
    -fx-background-radius: 0 0 3 0;
}
.text-area:focused .content {
    -fx-cursor: text;
    -fx-background-color:
    linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 3;
}

